@import url(//db.onlinewebfonts.com/c/5c6682d0f00a759d2d735c090a6900fe?family=posteramalight);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 62.5%;
    /* 1rem = 10px */
}

.header {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
    height: 12rem;
    z-index: 2;
}

.inner_header {
    position: relative;
    height: 8.5rem;
    width: 100%;
    display: block;
}

.under_construction h1{
    position: absolute;
    z-index: 1;
    font-family: "roombold";
    font-size: 1rem;
    color:aliceblue;
    left: 50%;
    width:15rem;
    height:100%;
    text-align: center;
    background-color: #000;
}
.under_construction {
    position: relative;
    display: flex;
/* border-top: solid 10px;
border-image: repeating-linear-gradient( -75deg, yellow, yellow 10px, black 10px, black 20px) 20; */
background: repeating-linear-gradient(-75deg,yellow , yellow 5px, black 5px, black 10px);
height:15px;
width:100%;
}

/* Makes the animation pause on hover */
.moving-text:hover{
    animation-play-state: paused;
}

/* The animation */
@keyframes marquee{
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
    .moving-text{
        animation: marquee 2s linear infinite;
    }
}

.header_line_1 {
    background-color: #17242A;
    height: 2.5rem;
    width: 100%;
    display: block;
}

.header_line_2 {
    background-color: #ffffff;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

.logo_container {
    /*border-radius : bottom top top bottom  */
    border-radius: 0rem 0rem 3rem 3rem;
    background-color: #17242A;
    height: 11rem;
    width: 30rem;
    z-index: 1;
    display: block;
    top: 0;
    position: absolute;
    left: 10rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.header_line_2 #du_logo img {
    height: 90%;
    width: 4rem;
}

.header_line_2 #du_logo {
    padding: 10px 30px 10px 50px;
}

.logo_container img {
    width: 30rem;
    height: 12rem;
    padding: 1rem 2rem 2rem 2rem;

}

.navbar-right {
    display: flex;
    margin-right: 10rem;
    margin-left: auto;
    margin-right: 0;
}

.navbar-right li {
    margin-right: 3rem;
    font-size: 4rem;
    color: #17242A;
    font-family: "bicyclettelight", serif;
}
.navbar-right a {
    color: black;
}

.navbar-right a:hover{
    color:#3AAFA9;
}
@font-face {
    font-family: 'bicyclettelight';
    src: url('font/Bicyclette-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maderabold';
    src: url('font/Madera-Bold.ttf');
}
.home {
    position: relative;
    width: 100%;
    margin-top:5rem;
    height: 62rem;
    background-image: url(../img/slider1-3.jpg);
}

.quote {
    font-family: "bicyclettelight", serif;
    color: white;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.below_icon {
    position: absolute;
    height: 4rem;
    width: 6rem;
    left: 50%;
    bottom: 1rem;
    align-items: flex-end;
}

.below_icon img {
    height: 100%;
    width: 100%;
}

.bold_alumni_text {
    font-family: "roombold", serif;
    font-size: 5rem;
}

@font-face {
    font-family: 'roombold';
    src: url('font/Room-Bold.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'posteramalight';
    src: url('font/PosteramaLight.ttf')format('truetype');
}
/* ------------------RISHI-------------- */

/* -----------------NAVNEET------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#news h1{
    font-family: 'posteramalight', cursive;
    font-size: 30px;
    color: #17242A;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}
hr{
    background-color: #17242A;
    height: 3px;
    border-radius: 10px;
}
#news{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    padding: 50px;
    height:10%;
    margin-right: auto;
}
.news_area{
    width: 100%;
    height: 90%;
    display: flex;
    padding-left: 100px;
}
#news_display{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    overflow-y: scroll;
}
.banner{
    width: 50%;
    height: 100%;
    right:0;
    padding-left: 100px;
    display: flex;
    bottom:0;
}

.banner img{
    width: 100%;
    height: 70%;
    margin-top: auto;
}
.news_card{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.news_card .news_card_content{
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.news_card_title h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #17242A;
    text-transform: uppercase;
    margin-bottom: auto;
    letter-spacing: 2px;
}

.news_card_body{
    margin-top: auto;
}
.news_card_body p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #1c313b;
    text-transform: uppercase;
}

.news_card_body a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #17242A;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
}

@media screen and (max-width: 768px){
    .heading{
        padding: 50px;
        margin-right: 0;
    }
    .news_area{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
    }
    #news_display{
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner{
        width: 60%;
        height: 100%;
        float:right;
    }
    .banner img{
        width: 100%;
        height: 60%;
    }
    .news_card{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .news_card img{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news_card .news_card_content{
        padding: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .news_card_title h3{
        font-family: 'posteramalight', cursive;
        font-size: 15px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: auto;
    }

    .news_card_body{
        margin-top: auto;
    }
    .news_card_body p{
        font-family: 'posteramalight', cursive;
        font-size: 10px;
        color: #000;
        text-transform: uppercase;
    }

    .news_card_body a{
        font-family: 'posteramalight', cursive;
        font-size: 10px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
    }
}

/*Scroll bar*/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8A8A8A;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4E4E4E;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

/* -----------------NAVNEET------------- */
/*-------------SHIVPUJAN-----------------*/

#alumni {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 30rem;
    background-image: url(../img/alBack.png);
}

html {
    scroll-behavior: smooth;
}

.parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40vh;
}

.parallax-item:first-child {
    background: url(../img/slider1-3.jpg);
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    z-index: 1;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;

}

.card {
    border-radius: 15px;
    background-color: #3AAFA9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.name {
    font-family: roombold, serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px;
}

.batch {
    font-family: sans-serif, serif;
    font-size: 16px;
    font-weight: 150;
    color: #FFFFFF;
}

.description {
    background-color: #263941;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'bicyclettelight', serif;
    text-align: center;
    padding: 1.5rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #3AAFA9;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #3AAFA9;
}

.swiper-navBtn {
    color: #3AAFA9;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #3AAFA9;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #3AAFA9;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #3AAFA9;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }

    .parallax-item h2 {
        font-size: 1.5rem;
    }

    .quote {
        font-size: 4rem;
    }

    .bold_alumni_text {
        font-size: 2.5rem;
    }
}

/* -------------------SHIVPUJAN-------------------- */

/* -------------------DEEPAK-------------------- */

.upcoming-event {
    display: flex;
    height: 35rem;
    justify-content: space-between;
    background-color: #FAF9F9;

}


.img-area {
    width: 35%;

    padding: 3rem 0 4rem 0;
    margin-left: 13rem;
    /* background-color: lightblue; */
}

.img-poster {
    width: 97%;
    height: 97%;
}

.content-area {
    width: 65%;
    /* background-color: lightgreen; */
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 1rem;
    margin-right: 10rem;
}

.top-area {
    display: flex;
    width: 100%;
    height: 20rem;
    /* background-color: yellow; */
}

.bottom-area {
    display: flex;
    width: 100%;
    height: 14rem;
    /* background-color: rgb(82, 82, 32); */
}

.register {

    padding-top: 1rem;
    padding-right: 6rem;
    padding-left: 4rem;

}

.register-button {
    display: inline-block;
    font-size: 20px;
    font-family: 'maderabold', serif;
    background-color: rgba(0, 128, 105, 0.918);
    border: none;
    color: white;
    /* padding: 1.5rem 3.2rem; */
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/* countdown start */
.countdown {
    display: flex;
    width: 68.5%;
    height: 13rem;
    padding-left: 6rem;
    font-size: 60px;
    color: #4E4E4E;
    font-family: 'posteramalight', serif;
    text-align: center;
    /* background-color: darkslategray; */
}

.countdown div {
    flex-basis: 105px;
}

.countdown div p {
    font-size: 55px;
    margin-bottom: -14px;
}
.countdown span {
    font-size : 20px;
}
.top-heading {
    /* background-color: cornflowerblue; */
    width: 80%;
    height: 23rem;
}

.calender {

    width: 20%;
    height: 19rem;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;

}

.day {

    width: 8.5rem;
    height: 6rem;
    font-family: 'maderabold', serif;
    font-size: 30px;
    text-align: center;
    background-color: #ebebeb;
    color: #2d2d2d;
    font-weight: bolder;
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding-top: 1rem;
}

.month {

    color: #2d2d2d;
    width: 8.5rem;
    height: 3rem;
    font-family: 'posteramalight', serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    background-color: #ebebeb;
    margin-left: 0.5rem;

}

.year {
    width: 8.5rem;
    height: 3rem;
    font-size: 20px;
    font-weight: 200;
    font-family: 'posteramalight', serif;
    text-align: center;
    background-color: #dadada;
    color:  #595959;
    margin-left: 0.5rem;
    padding-top:.5rem;

}

.txt-tittle {
    color: #757575;
    font-size: 25px;
    padding: 1.5rem;
    margin-left: 5.4rem;
    font-family: 'roombold', serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    /* font-family: 'Montserrat'; */
}

.txt-meet {
    color: rgb(80, 79, 79);
    font-size: 60px;
    /* font-weight: bold; */
    padding-left: 6rem;
    font-family: 'roombold', serif;
    letter-spacing: 0.03em;
}

.txt-bottom {
    color: #757575;
    font-family: 'posteramalight', serif;
    font-size: 15px;
    margin-left: 4rem;
    /* padding: 2rem 1.5rem; */
    padding-left: 2rem;

    font-weight: lighter;
}

.map_logo{
  height: 1.5rem;
  width: 1.5rem;
}

/* footer start */
.footer-container{

    height:270px ;
    /* background: linear-gradient(to top, #4c433e, #ff935e); */
   
}
.container {
    display: flex;
    justify-content: space-between;
  }

  .para-txt {
    font-size: 15px;
    /* padding-top: 1px; */

    font-family: 'posteramalight', serif;
    /* color: #FFF; */
    /* text-align: center; */
    line-height: 20px;
  }

  .email-id{
    font-size: 15px;
    font-weight: bold;
    padding-top: 8px;
    font-family: 'posteramalight', serif;

  }
  .phone-no{
    
        font-size: 15px;
        font-weight: bold;
        padding-top: 8px;
        font-family: 'posteramalight', serif;
    
      
  }
  .heading-txt{
    padding-top:10px;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: start;
    height: 20px;
    color: #2d2d2d;
    font-family: 'roombold';
  }

  .underline-social{
    width: 50%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.underline-social span{
width: 15px;
height: 100%;
background: #fff;
border-radius: 3px;
position: absolute;
top: 0;
left: 10px;
animation: moving 2s linear infinite;
}

.underline-address{
    width: 21%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    overflow: hidden;

}

.underline-address span{
    width: 15px;
    height: 100%;
    background: #FFF;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
    }

    .underline-map{
        width: 10.4%;
        height: 5px;
        background: #767676;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
    
    }
    
    .underline-map span{
        width: 15px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
        }

@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
    
}

  
  .box-1 {
    /* background-color: red; */
    padding-left: 50px;
    padding-top:5px;
    width: 30%;
    height: 200px;
  }
  
  .box-2 {
    /* background-color: blue; */
    padding-left: 50px;
    width: 15%;
    height: 245px;
  }
  .box-2 ul li {
    padding-top: 6px;
    
  }
  
  .box-3 {
    /* background-color: green; */
    width: 25%;
    height: 200px;
    padding-left: 50px;
   
  }

  .box-4{
    /* background-color: brown; */
    width: 30%;
    height: 250px;
    padding-left: 80px;
  }
  .logo{
    width: 80px;
    /* margin-bottom: 30px; */
}

  .copy-right{
    
	padding: 0.5rem;
    background: #1f2020;
    /* letter-spacing: 0.1rem; */
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: "bicyclettelight", serif;
}
  

